:root[data-visual=aurora][data-theme=light]{
--light-fg-eee9ff:#25155b;
--light-bg-121022:#f5f4fa;
--light-bg-0b1421:#f3f6fb;
--light-bg-612b9320:#f9f5fc20;
--light-bg-2668a917:#f5f9fd17;
--light-bg-191529f7:#f6f5faf7;
--light-bg-141523f7:#f5f5f9f7;
--light-fg-90dfff:#15475b;
--light-fg-e1d5ff:#29155b;
--light-fg-a199b9:#453e5b;
--light-fg-9c91b4:#473e5b;
--light-fg-b9aecb:#483c5d;
--light-fg-9189ad:#453f5a;
--light-fg-eee7ff:#2a155b;
--light-border-b899ff12:#7957c712;
--light-fg-e6dcff:#29155b;
--light-border-ad87f52e:#7d57c72e;
--light-fg-c5a5ff:#2e155b;
--light-fg-d5b3f4:#3a155b;
--light-border-cca1ff24:#8a57c724;
--light-border-ad91ef24:#7857c724;
--light-bg-34265080:#f8f6fb80;
--light-bg-20223670:#f6f6fa70;
--light-fg-cfb7f6:#30155b;
--light-fg-a89dbc:#483e5b;
--light-fg-c8d7ff:#15285b;
--light-border-b69bfa22:#7757c722;
--light-fg-a079d630:#46247530;
--light-border-a990d323:#825ebf23;
--light-fg-c8bfdc:#322849;
--light-fg-a69ab9:#493f5a;
--light-fg-99add3:#2e436b;
--light-border-81adff13:#577ec713;
--light-bg-161427b8:#f5f5fab8;
--light-fg-a095b5:#483f5a;
--light-fg-d4c9e8:#32224f;
--light-fg-9285a9:#493f5a;
--light-border-b9a3e71c:#7b57c71c;
--light-fg-a99bbc:#4a3d5c;
--light-border-bca3e92a:#7f57c72a;
--light-fg-b3a4c9:#493960;
--light-fg-b3a2c9:#4a3861;
--light-border-2b2240:#816cb1;
--light-fg-e3d9f6:#2d155b;
--light-fg-a593b7:#4c3d5c;
--light-fg-f0e9ff:#2b155b;
--light-fg-ada1c4:#473b5e;
--light-fg-b5a3d4:#453168;
--light-fg-9c8fb1:#493f5a;
--light-border-bba1e818:#8057c718;
--light-border-dac5ff4a:#7f57c74a;
--light-fg-ffffff:#383838;
--light-border-c2a3ff30:#7d57c730;
--light-fg-e1d4f7:#2f155b;
--light-border-c8acff70:#7d57c770;
--light-fg-b9a8d1:#483564;
--light-fg-dbb8ff:#38155b;
--light-fg-c8acff:#2d155b;
--light-fg-90e9ff:#154d5b;
--light-bg-252036c7:#f7f6fac7;
--light-fg-b7accb:#473b5e;
--light-fg-ab9bc0:#4a3b5e;
--light-fg-cab0ff:#2c155b;
--light-border-bfa5ff15:#7757c715;
--light-fg-b9aacd:#4a3960;
--light-fg-eadbff:#32155b;
--light-fg-d9c8f6:#2f155b;
--light-bg-1f1932:#f6f5fa;
--light-border-c5a9f82c:#7e57c72c;
--light-fg-e7dff4:#321d53;
--light-bg-211b36:#f6f5fa;
--light-fg-ede5fc:#2e155b;
--light-fg-a294b9:#493d5c;
--light-bg-1c192c:#f6f5fa;
--light-border-c1a0f525:#8257c725;
--light-fg-ad9fc1:#4a3c5d;
--light-bg-2e22443f:#f7f6fa3f;
--light-bg-1b192ce8:#f6f5fae8;
--light-border-c3a4fa25:#7f57c725;
--light-fg-e8def7:#31165a;
--light-border-baa1e91a:#7e57c71a;
--light-fg-e2d8f3:#301a56;
--light-fg-b4a6c9:#493a5f;
--light-border-ba9edf55:#8757c755;
--light-border-8addbb:#57c799;
--light-fg-a29aae:#4b4455;
--light-fg-bfc6e9:#1d2653;
--light-border-b5bbf315:#5762c715;
--light-fg-ffafbf:#5b1523;
--light-fg-e4c597:#795520;
--light-fg-eae1ff:#2a155b;
--light-fg-b7a4d0:#493465;
--light-fg-ffb7b3:#5b1915;
--light-fg-b6a6cc:#493861;
--light-border-bba1ec1a:#7e57c71a;
--light-fg-b5a5cc:#493762;
--light-fg-e6d7f8:#35155b;
--light-fg-b7a8cb:#4a3960;
--light-fg-b8a7cc:#4b3861;
--light-fg-bda3e8:#411f7a;
--light-fg-b4a2c6:#4c3a5f;
--light-bg-452763a8:#f9f6fba8;
--light-bg-23385b8c:#f6f8fb8c;
--light-fg-e6ddf5:#301957;
--light-fg-eee4ff:#2f155b;
--light-fg-c2b4d8:#473465;
--light-fg-c0acd9:#493069;
--light-border-b59be626:#7e57c726;
--light-fg-ae9ec1:#4b3c5d;
--light-fg-d5b6ff:#33155b;
--light-border-b28dff:#7b57c7;
--light-fg-c8adf5:#2f155b;
--light-fg-e3d9f3:#311b55;
--light-fg-ad9fc2:#493b5e;
--light-fg-c2b1d6:#4b3564;
--light-bg-693a793f:#faf6fb3f;
--light-bg-2635579c:#f6f8fb9c;
--light-border-b386e234:#8e57c734;
--light-fg-d4b7ed:#3b165a;
--light-fg-bfa9d3:#4e3465;
--light-fg-ded5ef:#301f51;
--light-fg-ac9cbd:#4c3d5c;
--light-fg-e4d8f6:#31155b;
--light-fg-bda9d3:#4b3465;
--light-fg-bea2e0:#492673;
--light-fg-d0c2e5:#34224f;
--light-fg-8d7d9f:#4c4158;
--light-border-b892fc:#7f57c7;
--light-fg-ead8ff:#35155b;
--light-fg-a998c2:#493960;
--light-border-b99be62a:#8457c72a;
--light-fg-b8a3cd:#4c3663;
--light-fg-b8a7d0:#493564;
--light-border-bda4ee25:#7d57c725;
--light-fg-d6c5ec:#341c55;
--light-border-bf9afa70:#8257c770;
--light-fg-e2d6f7:#2f155b;
--light-fg-b5a1ca:#4c3762;
--light-bg-332049aa:#f8f6fbaa;
--light-bg-192742d9:#f5f7fbd9;
--light-border-baa1f733:#7757c733;
--light-fg-c7b6de:#35234d;
--light-fg-c2a9df:#4a2970;
--light-border-c6a7ff30:#7e57c730;
--light-fg-dccdf1:#331958;
--light-fg-ede1ff:#31155b;
--light-fg-bea9d4:#4c3366;
--light-fg-cfb0ff:#31155b;
--light-border-c3a4ea26:#8857c726;
--light-fg-d2bee9:#361c54;
--light-fg-b6a4ca:#4b3861;
--light-bg-242139:#f6f6fa;
--light-bg-142834e8:#f4f8fbe8;
--light-border-afc9ff28:#577bc728;
--light-bg-09182544:#f2f7fc44;
--light-border-afc5fa15:#5778c715;
--light-fg-a5bfd7:#2f4e6a;
--light-fg-e7e3ff:#1f155b;
--light-fg-a49cdb:#322970;
--light-fg-b6cfe9:#1a3856;
--light-fg-a8bed4:#334c66;
--light-fg-a5b4d2:#334466;
--light-fg-d2deee:#1f3451;
--light-fg-a6b7ce:#364963;
--light-fg-a4b9df:#284271;
--light-border-a8bcde21:#5c82c121;
--light-bg-27203aea:#f7f6faea;
--light-bg-171c34f0:#f5f6faf0;
--light-border-cfafff4d:#8457c74d;
--light-bg-070716a6:#f2f2fba6;
--light-border-bf9aff26:#8057c726;
--light-fg-eee2ff:#32155b;
--light-fg-c5b5d6:#4c3762;
--light-fg-d7c2ed:#371a57;
--light-fg-c7b6d9:#38264a;
--light-border-b391db26:#8a57c726;
--light-fg-c9b0ed:#32155b;
--light-fg-ffb2c5:#5b1526;
--light-border-ff95b04a:#c757734a;
--light-bg-241d3e:#f6f5fa;
--light-border-bda1f550:#7c57c750;
--light-border-ba99f330:#8057c730;
--light-fg-d5bbf1:#37155b;
--light-fg-bca3cf:#503465;
--light-border-b494dc24:#8957c724;
--light-fg-d7c8e9:#362050;
--light-border-acc0fa21:#5773c721;
--light-fg-b6b6d3:#3a3a5f;
--light-fg-c5b5e4:#301e52;
--light-fg-f2eaff:#30155b;
--light-fg-e5d9f4:#351957;
--light-border-b695e337:#8657c737;
--light-border-c5a1f633:#8657c733;
--light-fg-cbb2ee:#32155b;
--light-border-bb9cee8a:#8157c78a;
--light-border-bc9eff:#7957c7;
--light-border-84ecc0:#57c797;
--light-fg-c1ffe1:#155b39;
--light-fg-b4ffd7:#155b36;
--light-border-92fbc055:#57c78855;
--light-border-f78ca6:#c75772;
--light-fg-ffc2d1:#5b1526;
--light-fg-ffbad0:#5b152b;
--light-border-f78ca64a:#c757724a;
--light-fg-ad99c4:#4b3861;
--light-bg-120e2466:#f5f4fb66;
--light-fg-c1b4d5:#483762;
--light-bg-185742ef:#f4fcfaef;
--light-bg-203a45f5:#f6f9fbf5;
--light-border-78eebd70:#57c79870;
--light-fg-b6ffd7:#155b35;
--light-fg-d0eddf:#1f5139;
--light-bg-542039f5:#fbf5f8f5;
--light-bg-3a2137f5:#faf6f9f5;
--light-border-ff96b672:#c7577972;
--light-fg-ffb7cb:#5b1529;
--light-fg-e9c8d5:#502033;
--light-border-81efb777:#57c78e77;
--light-border-ff92b377:#c7577977;
--light-fg-c2afd6:#4c3465;
--light-border-c3a2fa35:#8157c735;
--light-fg-b9a3ce:#4d3564;
--light-border-c3a2f72b:#8257c72b;
--light-fg-d7bfee:#391859;
--light-fg-c8b9db:#36264a;
--light-fg-b8a7ca:#4c3a5f;
--light-fg-bfa7d6:#4d3168;
--light-border-ba97e932:#8757c732;
--light-fg-bba3d0:#4e3465;
--light-fg-e8d9f8:#37155b;
--light-fg-bca8cf:#4d3663;
--light-border-b793e729:#8757c729;
--light-fg-b19ac7:#4d3762;
--light-fg-bfadd1:#4c3762;
--light-border-b496df2b:#8557c72b;
--light-fg-dbc9ed:#381c54;
--light-fg-b9a4cc:#4e3762;
--light-fg-ddd0ed:#361f51;
--light-fg-c0dff4:#153f5b;
--light-border-accbfa33:#5783c733;
--light-fg-b9c5df:#23304d;
--light-fg-bca9d0:#4c3663;
--light-fg-e5d6f5:#37165a;
--light-border-bb9beb2b:#8457c72b;
--light-fg-c7b0dc:#4e2f6a;
--light-border-bba0ff:#7757c7;
--light-bg-313a71:#f6f7fb;
--light-bg-184753:#f4fafc;
--light-bg-1d2743:#f5f7fb;
--light-border-b6a0d029:#8c69b529;
--light-bg-23213a:#f6f6fa;
--light-border-b095ef30:#7857c730;
--light-fg-bcb3d7:#413564;
--light-fg-bcb0cd:#4a3b5e;
--light-border-bc9bf82a:#7f57c72a;
--light-fg-c8b5df:#36224e;
--light-fg-c1afd5:#4b3564;
--light-bg-2c2341ed:#f7f6faed;
--light-border-d7a8ff4f:#9357c74f;
--light-fg-ede1fc:#34155b;
--light-fg-a8f7d3:#155b3b;
--light-fg-c9c6ff:#19155b;
--light-bg-66458eea:#f8f6fbea;
--light-bg-244780ef:#f5f8fcef;
--light-border-ddbcff88:#8e57c788;
--light-fg-ffedc9:#5b4415;
--light-fg-dec3f1:#3e155b;
--light-fg-fff0ff:#5b155b;
--light-border-c9a5ff52:#8457c752;
--light-bg-2b2044ed:#f7f6fbed;
--light-bg-18273fed:#f5f7fbed;
--light-fg-b9b0cf:#453a5f;
--light-fg-b6a7ce:#473762;
--light-fg-ead9ff:#34155b;
--light-fg-d2baff:#2e155b;
--light-bg-463156:#f9f7fa;
--light-fg-f5d6ff:#4a155b;
--light-border-b392e059:#8657c759;
--light-border-d0a1ff44:#8f57c744;
--light-fg-edcfff:#41155b;
--light-fg-a598b5:#4b4059;
--light-border-ba98ff33:#7c57c733;
--light-fg-b3bdff:#151e5b;
--light-fg-efebfb:#27155b;
--light-fg-c7b6ef:#2a155b;
--light-border-bfa7d530:#9167b730;
--light-fg-ddd1f2:#301957;
--light-fg-bb9cef:#401d7c;
--light-bg-26243c:#f7f6fa;
--light-bg-45305b:#f9f7fb;
--light-bg-23565d:#f6fbfc;
--light-border-b6a0cf47:#8c6ab447;
--light-fg-c9ade4:#391c54;
--light-border-c4a2e5:#9057c7;
--light-bg-24607426:#f5fafc26;
--light-fg-e0c9f4:#3b155b;
--light-fg-b8a5cc:#4c3762;
--light-border-b197da44:#8359c444;
--light-fg-d4b5f0:#3a155b;
--light-fg-ffc4cf:#5b1522;
--light-border-e4a2b34a:#c757744a;
--light-border-ae9bc440:#8d72ac40;
--light-bg-252237:#f7f6fa;
--light-fg-dfc9ef:#3d1a57;
--light-fg-b3a0c8:#4b3861;
--light-fg-b9a3d0:#4c3465;
--light-fg-c8b5dc:#38244c;
--light-border-af91c339:#956eb039;
--light-fg-dcc8ee:#3a1a56;
--light-border-b49bca33:#916cb133;
--light-fg-b79acf:#4f3168;
--light-fg-b895d7:#4f2a6f;
--light-bg-20665036:#f5fcfa36;
--light-border-9ac8bd50:#6eb0a050;
--light-fg-d0b8eb:#361958;
--light-fg-9c8fb8:#463b5e;
--light-fg-b4a4c7:#4b3a5f;
--light-border-b49acd60:#9069b560;
--light-fg-c3a5e2:#4c2574;
--light-fg-bda9ce:#4e3861;
--light-border-b8a0cc36:#926db136;
--light-fg-d6c4e5:#3a224e;
--light-border-bb9cdb55:#8e5ac355;
--light-fg-d3b3ed:#3c155b;
--light-fg-c7b6df:#34224e;
--light-fg-e1c4ff:#38155b;
--light-border-bea1dd46:#8d5ac346;
--light-bg-182237:#f5f7fb;
--light-fg-acb2d915:#30386915;
--light-fg-c5b1e15e:#341f515e;
--light-fg-b6a8ce:#473762;
--light-bg-1c2039ec:#f5f6faec;
--light-fg-cfb8e9:#361b56;
--light-fg-b19dc8:#4b3762;
--light-fg-bea6d9:#4b2e6b;
--light-border-a1a6bc26:#7c83a226;
--light-fg-b6a6cb:#4a3861;
--light-fg-dcc4f1:#3a165b;
--light-fg-bfa6d5:#4e3168;
--light-border-ac92c53b:#8f6db13b;
--light-fg-e1c4f8:#3c155b;
--light-fg-b9a7cc:#4c3861;
--light-fg-bca9e0:#412970;
--light-fg-baa4ea:#2b155b;
--light-fg-bfb5d3:#463960;
--light-fg-b4a9c7:#483c5d;
--light-fg-d9c9f1:#311759;
--light-fg-b3a4c5:#4b3c5d;
--light-border-b398d346:#8b62bc46;
--light-fg-cfc1df:#37264a;
--light-border-cfacfa:#8957c7;
--light-fg-f1dfff:#3c155b;
--light-fg-c6b8db:#34264a;
--light-fg-9e92b3:#493f5a;
--light-bg-1e2038:#f6f6fa;
--light-border-ad91c545:#916cb245;
--light-fg-eadcf7:#39155b;
--light-fg-bfa6df:#482871;
--light-fg-dec794:#755c24;
--light-border-cfb2763d:#c5a2593d;
--light-fg-b6a486:#5f513a;
--light-fg-d7baf3:#39155b;
--light-fg-bda4cb:#523861;
--light-fg-d0b4e4:#3c1e52;
--light-border-b18ac33f:#9c6bb33f;
--light-border-cfa8e7:#9c57c7;
--light-fg-f1dcff:#3f155b;
--light-bg-2f223e:#f8f6fa;
--light-border-b79ac53b:#9970ad3b;
--light-fg-ad92c6:#4d3564;
--light-fg-dec7e7:#42224f;
--light-fg-d6b5f3:#3a155b;
--light-fg-cdb3db:#3e244c;
--light-fg-d8c4e6:#3c214f;
--light-fg-af9dbc:#4f3e5b;
--light-border-b5a3d03c:#886ab33c;
--light-bg-29233d:#f7f6fa;
--light-fg-e3d6f2:#361b55;
--light-fg-b4a5c7:#4a3b5e;
--light-border-ad87e2:#8657c7;
--light-bg-4b306845:#f9f6fb45;
--light-bg-2044534a:#f5fafb4a;
--light-border-b491dd49:#8a57c749;
--light-fg-c0a4dd:#4c2a6f;
--light-fg-9fd9bd:#2b6e4e;
--light-border-73c9a74a:#5dc1994a;
--light-border-bca6d240:#8f6ab440;
--light-bg-362943:#f8f7fa;
--light-bg-1c2b3d:#f5f8fb;
--light-fg-c7b6d6:#4e3762;
--light-border-b59bc741:#956fae41;
--light-fg-c9b5dc:#39244c;
--light-fg-c7acd9:#523069;
--light-fg-ae9fbb:#4d3f5a;
--light-border-b59dc535:#9572ac35;
--light-bg-2b263c:#f7f6fa;
--light-bg-1c2739:#f5f7fa;
--light-fg-ede2f7:#3a1858;
--light-fg-b9acc9:#4b3c5d;
--light-fg-cbb5e8:#341b56;
--light-fg-c7b8d8:#372848;
--light-fg-d8c2e7:#3d2051;
--light-fg-ecdef7:#3c165a;
--light-border-b59bc946:#936db046;
--light-bg-202439:#f6f6fa;
--light-fg-baa6c9:#4f3a5f;
--light-bg-5b3c7750:#f9f7fb50;
--light-bg-24556b38:#f5fafc38;
--light-border-b996df54:#8c57c754;
--light-fg-c4a3e5:#4c2277;
--light-fg-e6d5f4:#3b1759;
--light-border-eba98b60:#c77a5760;
--light-bg-764b504f:#faf7f84f;
--light-bg-4b334c55:#faf7fa55;
--light-border-91cfb64b:#63bb974b;
--light-bg-23604d21:#f6fcfa21;
--light-fg-9fdbc1:#2a6f51;
--light-fg-c0dece:#274a37;
--light-fg-c9bfda:#342947;
--light-fg-b2dbc5:#31684a;
--light-fg-c3b4d3:#4c3960;
--light-fg-b9a5d6:#473069;
--light-fg-d5b8ca:#603951;
--light-border-b6a1d43d:#8765b93d;
--light-fg-e2caff:#35155b;
--light-fg-bfa9d0:#4f3663;
--light-border-b39dcc3d:#8d6bb23d;
--light-bg-292438:#f7f6f9;
--light-border-b4a1c22a:#9277a72a;
--light-fg-d4bfe7:#391f52;
--light-fg-b9a8ca:#4c3a5f;
--light-fg-a99abb:#4b3e5b;
--light-fg-b9a2d7:#482e6b;
--light-border-b598ca3c:#956bb33c;
--light-fg-cfb2e8:#3a1a56;
--light-fg-b7a3c8:#4e3960;
--light-fg-d0b5f0:#35155b;
--light-border-a6bbcb46:#7193ac46;
--light-fg-c7e0e5:#24464d;
--light-border-b4a1cd48:#8a6db148;
--light-fg-dbcaec:#381e53;
--light-border-c5a1f4:#8757c7;
--light-fg-addec8:#2c6d50;
--light-fg-e5b2c1:#541c2d;
--light-fg-f3f1ff:#1f155b;
--light-fg-c3bddb:#2e2849;
--light-fg-b6b1d0:#403a5f;
--light-border-c6b9ff24:#6c57c724;
--light-fg-c8c0e9:#281d53;
--light-fg-e0c4ff:#36155b;
--light-border-b69aff80:#7657c780;
--light-border-b9a2ff35:#7257c735;
--light-bg-251d64:#f6f5fc;
--light-bg-343193:#f6f5fc;
--light-bg-154a7d:#f4f9fd;
--light-border-d6baff35:#8457c735;
--light-fg-e4d8ff:#2b155b;
--light-fg-ffc876:#7c561d;
--light-fg-cdc8eb:#251e52;
--light-border-ffffff77:#8f8f8f77;
--light-fg-b3b1dc:#322f6a;
--light-border-a4ecff20:#57afc720;
--light-border-abccff33:#5783c733;
--light-fg-ffd481:#7c5c1d;
--light-fg-acffd5:#155b38;
--light-border-abe2ff40:#57a0c740;
--light-bg-1a2b63b3:#f5f7fcb3;
--light-fg-d1e6ff:#15355b;
--light-fg-b6e1ff70:#153e5b70;
--light-border-b7a0ff33:#7257c733;
--light-fg-d5baff:#31155b;
--light-fg-eeeaff:#23155b;
--light-bg-201b3c:#f6f5fb;
--light-fg-f4efff:#2b155b;
--light-fg-c0b6dd:#2e244d;
--light-fg-afeeff:#154c5b;
--light-fg-968dad:#474059;
--light-bg-211a3dd9:#f6f5fbd9;
--light-bg-151a35e6:#f4f5fbe6;
--light-bg-221936e0:#f7f5fae0;
--light-border-bcacff26:#6c57c726;
--light-fg-b4a3db:#3f2b6e;
--light-fg-a59dbd:#453e5b;
--light-fg-d4c5ff:#27155b;
--light-fg-9f91bb:#463a5f;
--light-border-ffffff28:#8f8f8f28;
--light-fg-f0e9fc:#2f155b;
--light-fg-aaa0be:#483e5b;
--light-border-1d1b38:#6d68b6;
--light-bg-38334f:#f8f7fa;
--light-fg-9d92b6:#473d5c;
--light-bg-31283f:#f8f7fa;
--light-bg-29223b:#f7f6fa;
--light-border-302841:#8574aa;
--light-fg-aea1c2:#493c5d;
--light-fg-b6abc9:#483c5d;
--light-border-d1faff:#57bbc7;
--light-bg-241c42f2:#f6f5fbf2;
--light-fg-c9bfdb:#342848;
--light-fg-b286e96b:#471d7c6b;
--light-fg-b8a3ff5e:#25155b5e;
--light-fg-ffc37b57:#7c511d57;
--light-border-f5c5ff35:#b457c735;
--light-fg-ada2c777:#453a5f77;
--light-fg-dbacff60:#3d155b60;
--light-fg-a2adca99:#38436199;
--light-fg-a197ba:#463d5c;
--light-fg-d2b6ff:#30155b;
--light-fg-95f0ff:#15515b;
--light-border-a378ff:#7a57c7;
--light-bg-1a1630:#f6f5fa;
--light-bg-19182ce8:#f5f5fae8;
--light-fg-f3efff:#27155b;
--light-fg-bbb0d2:#453861;
--light-fg-b8a1ed:#2a155b;
--light-fg-c2abff:#28155b;
--light-fg-b1a4cb:#463861;
--light-fg-71e6ff:#1d6b7c;
--light-fg-42bdf524:#1d5e7c24;
--light-fg-bcb0d0:#483960;
--light-fg-b8a7c9:#4c3a5f;
--light-fg-dfbb7c:#7b591e;
--light-fg-fff1e0:#5b3b15;
--light-fg-e3bcad:#542c1d;
--light-fg-b7a3b4:#564353;
--light-fg-b3a1b4:#544455;
--light-border-ceafbc15:#aa748a15;
--light-border-ffcb8555:#c7975755;
--light-border-e5ae9f77:#c76f5777;
--light-fg-b29dae:#564352;
--light-fg-aaa5be:#454059;
--light-fg-a59bbe:#463c5d;
--light-fg-afbcff:#15215b;
--light-fg-f6ce8d:#7c581d;
--light-fg-e8e2fa:#27155b;
--light-fg-a6a0b8:#474158;
--light-fg-8faabc:#395060;
--light-fg-ecc77d:#7c5c1d;
--light-fg-b0dded:#15495b;
--light-fg-90f4ff:#15545b;
--light-fg-8bdfc2:#21785a;
--light-fg-b2c5c0:#425752;
--light-fg-9cead6:#1d7c64;
--light-border-6bfcc428:#57c79c28;
--light-fg-aca0c9:#443762;
--light-border-c4a5ff26:#7d57c726;
--light-fg-c6abff:#2c155b;
--light-fg-b8c3f0:#15235b;
--light-fg-abebcd:#165b3a;
--light-border-c998f330:#9357c730;
--light-bg-522c6145:#faf6fb45;
--light-bg-271b3d:#f7f5fb;
--light-fg-f0eaff:#29155b;
--light-bg-19404f80:#f5fafc80;
--light-bg-1f263ed9:#f6f7fad9;
--light-border-86e7ec30:#57c1c730;
--light-fg-dcb0fa:#3f155b;
--light-fg-94dee8:#1d717c;
--light-fg-bda4c9:#533960;
--light-fg-a0c3d1:#325867;
--light-fg-d9b1e6:#471b55;
--light-fg-9cd9df:#256d74;
--light-fg-a49ab8:#483f5a;
--light-fg-bfb1e5:#2b1c54;
--light-border-bba3ff25:#7457c725;
--light-bg-1e1a35:#f6f5fa;
--light-fg-c1afdf:#322050;
--light-fg-f4edff:#30155b;
--light-fg-bdb2d0:#483a5f;
--light-fg-ab95c9:#493465;
--light-border-be9aff35:#7f57c735;
--light-fg-e5dafb:#2d155b;
--light-fg-b699e6:#411e7b;
--light-fg-d0c4e3:#34244c;
--light-fg-b2ffde:#155b3d;
--light-border-aabbff88:#576dc788;
--light-border-76dfff:#57adc7;
--light-border-89ffc080:#57c78b80;
--light-fg-bdfadd:#155b3a;
--light-fg-f3edff:#2d155b;
--light-border-cdb2ff50:#7e57c750;
--light-bg-302346ee:#f8f6faee;
--light-bg-24263dee:#f6f7faee;
--light-fg-caa5ff:#32155b;
--light-fg-cdb6e9:#351a56;
--light-fg-afa3c6:#473b5e;
--light-bg-252140:#f6f6fa;
--light-bg-153346f2:#f4f9fcf2;
--light-border-8ddaed55:#57b1c755;
--light-fg-e9e9ff:#15155b;
--light-fg-abe5f2:#154e5b;
--light-bg-322567:#f7f6fc;
--light-bg-363d87:#f6f6fb;
--light-bg-215a82:#f5f9fc;
--light-border-abccff1d:#5783c71d;
--light-bg-2f234c:#f7f6fb;
--light-bg-152d3d:#f4f8fb;
--light-fg-c8bcff:#22155b;
--light-border-c7b1fd50:#7757c750;
--light-border-b4baf52b:#5761c72b;
--light-border-a697c13e:#8772ab3e;
--light-fg-b1adc8:#423d5c;
--light-bg-29243e:#f7f6fa;
--light-border-b6a8de3d:#765cc13d;
--light-fg-b7b2cb:#443e5b;
--light-fg-bbb8d0:#413d5c;
--light-fg-beb8d5:#413960;
--light-fg-969bb9:#3d425c;
--light-fg-d0b9ff:#2c155b;
--light-fg-bcb5d2:#433a5f;
--light-fg-b5a2d8:#432d6c;
--light-fg-f1ebff:#2a155b;
--light-fg-bdb8d3:#413b5e;
--light-bg-2a2942:#f7f7fa;
--light-border-b2a5d73a:#7a64ba3a;
--light-fg-e2daee:#34234d;
--light-fg-bab4d2:#413960;
--light-border-a88ae5:#7c57c7;
--light-border-bd9bfc:#7e57c7;
--light-border-88e5b9:#57c792;
--light-bg-24624c55:#f6fcf955;
--light-fg-d1ffe7:#155b37;
--light-border-ff849e:#c7576e;
--light-bg-7d28433f:#fcf5f73f;
--light-bg-257d5030:#f5fcf930;
--light-border-73e4a558:#57c78858;
--light-fg-c3ffde:#155b35;
--light-bg-9d2b5030:#fcf5f730;
--light-border-ff83a25a:#c757735a;
--light-fg-ffd8e4:#5b152b;
--light-bg-52357550:#f8f6fb50;
--light-bg-23556b35:#f5fafc35;
--light-border-bca8e35b:#7d57c75b;
--light-fg-b7add2:#423663;
--light-border-b3a2cc55:#896eb055;
--light-fg-dfd3f5:#2e155b;
--light-bg-46305755:#f9f7fa55;
--light-bg-27644b3a:#f6fbf93a;
--light-fg-c4efdd:#18583d;
--light-border-86d7b24d:#57c7944d;
--light-border-ad91e07a:#7e57c77a;
--light-fg-cfb8ff:#2c155b;
--light-fg-cdc2e3:#31234d;
--light-fg-f0e7ff:#2f155b;
--light-border-b89ee068:#8357c768;
--light-bg-191f35:#f5f6fa;
--light-fg-c3b9de:#2f244c;
--light-border-b29cd556:#8461bc56;
--light-bg-493069:#f8f6fb;
--light-bg-204c60:#f5fafc;
--light-fg-bbade7:#281957;
--light-fg-c3b7df:#2f234e;
--light-bg-393347:#f8f7fa;
--light-bg-243947:#f6f9fa;
--light-fg-bba6df:#432871;
--light-fg-e9e3f4:#312051;
--light-border-7cdfae:#57c78f;
--light-bg-224a414d:#f6fbfa4d;
--light-fg-a6f8cf:#155b38;
--light-fg-c9bfe2:#2f234d;
--light-border-b0a1d054:#8169b454;
--light-bg-36304a:#f8f7fa;
--light-fg-e1d8ec:#36254b;
--light-fg-bfb0e0:#2f2051;
--light-border-77d8b0:#57c799;
--light-bg-2c64542b:#f6fbfa2b;
--light-fg-bbddcd:#254b39;
--light-border-b198cd7c:#8d68b67c;
--light-fg-e3d5f8:#31155b;
--light-fg-afa2bf:#4b3e5b;
--light-border-c0a0f058:#8457c758;
--light-fg-e4d2ff:#31155b;
--light-bg-493463:#f8f7fb;
--light-bg-23475d:#f6f9fc;
--light-border-cfb0f475:#8a57c775;
--light-fg-dbbaff:#37155b;
--light-fg-c5b8d7:#362848;
--light-border-b8a6c931:#9073aa31;
--light-fg-d4b7fc:#33155b;
--light-fg-b0a8c7:#443c5d;
--light-bg-34283f:#f8f7fa;
--light-bg-1c3440:#f5f9fb;
--light-fg-bdb9cc:#464059;
--light-fg-e7d9f7:#36155b;
--light-bg-00000044:#f6f6f644;
--light-bg-171e322c:#f5f6fa2c;
--light-border-b8a8d124:#876cb124;
--light-border-baa1df68:#8458c668;
--light-border-ebe0fb55:#8457c755;
--light-bg-1a1b36a8:#f5f5faa8;
--light-fg-e1d4f5:#31155b;
--light-fg-ffe5a4:#5b4715;
--light-bg-574239cc:#faf8f7cc;
--light-fg-b2a8c5:#483d5c;
--light-fg-c1ace9:#2e1859;
--light-fg-ebe4f6:#321c54;
--light-fg-a9a5bd:#454158;
--light-fg-acdccc:#2d6c57;
--light-fg-e1bd8d:#795320;
--light-fg-c6b1f0:#2d155b;
--light-fg-bab0cf:#463a5f;
--light-fg-b4e6c8:#1c5432;
--light-fg-c6bfd6:#332c44;
--light-fg-ab9dbc:#4b3e5b;
--light-border-a196ba32:#8678a632;
--light-fg-d2c8e7:#30224e;
--light-fg-d8cce9:#34224e;
--light-fg-e7dcf0:#3a224f;
--light-bg-1d2338:#f5f7fa;
--light-border-b3a5c645:#8b76a845;
--light-fg-bbaecd:#4a3a5f;
--light-border-b5a4c842:#8d73aa42;
--light-fg-d9c9f0:#321858;
--light-fg-eee5db:#4c3924;
--light-bg-222031:#f7f6f9;
--light-fg-bdb0c5:#4f4158;
--light-fg-bdadcc:#4d3b5e;
--light-fg-e8d8f2:#3f1c54;
--light-bg-30253f:#f8f6fa;
--light-border-b4a1c84a:#8e71ac4a;
--light-fg-ad9ebb:#4d3f5a;
--light-fg-c6afe3:#351d53;
--light-bg-2120399c:#f6f6fa9c;
--light-border-c2a5e838:#8757c738;
--light-fg-bcb4d1:#443a5f;
--light-fg-c8bfdb:#322848;
--light-fg-91e2dc:#207972;
--light-border-89d7d86b:#57c5c76b;
--light-fg-a6edee:#155a5b;
--light-fg-f3e9ff:#35155b;
--light-border-d1b0ff60:#8657c760;
--light-bg-242039:#f6f6fa;
--light-fg-e1d6ee:#36214f;
--light-fg-bcb1d0:#473a5f;
--light-border-aa93c63b:#8b6cb13b;
--light-fg-b3a7c8:#483b5e;
--light-fg-bdb6cd:#473e5b;
--light-bg-232039:#f6f6fa;
--light-bg-182035:#f5f6fa;
--light-fg-b8b6cf:#3f3d5c;
--light-fg-c6c4da:#2e2b45;
--light-border-aca5ce70:#796eb070;
--light-fg-eae5fa:#26155b;
--light-fg-aeadc8:#3f3d5c;
--light-fg-bfc1d6:#2c2e44;
--light-fg-bab4d3:#403960;
--light-fg-c6b2ff:#27155b;
--light-bg-22213a:#f6f6fa;
--light-border-171d3077:#677ab677;
--light-fg-989ab9:#3e405b;
--light-fg-bcbbd4:#2c2b45;
--light-fg-cec8f6:#1e155b;
--light-fg-adabc6:#403e5b;
--light-fg-cfbafa:#2c155b;
--light-bg-292345e8:#f7f6fae8;
--light-bg-161f35e8:#f5f6fbe8;
--light-border-aca0e22c:#6b57c72c;
--light-fg-c3c3d9:#2c2c45;
--light-fg-bcb8f2:#1a155b;
--light-fg-bfc0d4:#2d2e43;
--light-fg-aeb1c9:#3d415c;
--light-border-9a9bb52b:#7d7fa02b;
--light-fg-bdc1d7:#2a2f46;
--light-fg-d2c7ff:#23155b;
--light-fg-ffbcc9:#5b1523;
--light-border-ff74994a:#c757754a;
--light-bg-96224228:#fdf5f728;
--light-border-bdb0fa6e:#6a57c76e;
--light-bg-4e327b:#f8f6fb;
--light-bg-1f5164:#f5fafc;
--light-fg-cfcdff:#18155b;
--light-fg-b6b1d4:#3d3663;
--light-bg-181d2d40:#f5f6fa40;
--light-border-9990bc45:#7e73ab45;
--light-bg-24273e:#f6f7fa;
--light-fg-eae7ff:#1e155b;
--light-fg-aba3d2:#3b3267;
--light-border-ac9aff:#6b57c7;
--light-bg-463474:#f8f6fb;
--light-bg-245069:#f6f9fc;
--light-fg-9edced:#1d687c;
--light-fg-d3d1e6:#2b2849;
--light-border-9690bd30:#7a72ab30;
--light-fg-c9c7dd:#2d2a46;
--light-fg-e4dfff:#20155b;
--light-border-ae9bef36:#7057c736;
--light-bg-2896ae28:#f5fbfd28;
--light-bg-312348:#f8f6fb;
--light-bg-1c2540:#f5f7fb;
--light-fg-c7c5df:#2a2848;
--light-fg-d4beff:#2d155b;
--light-border-c5b2fb44:#7457c744;
--light-bg-25253e:#f6f6fa;
--light-border-a59bc940:#7c6db040;
--light-fg-e9e7ff:#1b155b;
--light-border-c3b3ff30:#6e57c730;
--light-fg-d1c6ff:#23155b;
--light-bg-292742:#f7f6fa;
--light-bg-4b3b64:#f8f7fa;
--light-bg-28535d:#f6fafb;
--light-bg-191f343b:#f5f6fa3b;
--light-border-b8a9d640:#8267b740;
--light-fg-c4bdd9:#312947;
--light-fg-f0ecff:#24155b;
--light-border-a89ec035:#8577a735;
--light-bg-30293e:#f8f7fa;
--light-fg-aaaeca:#3b3f5e;
--light-fg-c1baff:#1c155b;
--light-fg-c6c4db:#2d2b46;
--light-fg-e0dcef:#2c234d;
--light-border-9b8db850:#8675a950;
--light-bg-272239:#f7f6fa;
--light-fg-aff5cf:#155b35;
--light-border-6ee4ad44:#57c79344;
--light-bg-ac29512b:#fdf5f72b;
--light-fg-ffd0da:#5b1524;
--light-border-f9739550:#c7577350;
--light-fg-c9bcff:#23155b;
--light-bg-11182e80:#f4f6fb80;
--light-border-8d89bb30:#7571ad30;
--light-fg-bfc0d5:#2c2e44;
--light-fg-efddff:#3a155b;
--light-fg-bcb9d0:#413d5c;
--light-fg-a8a1dd66:#31297066;
--light-fg-f0ebff:#27155b;
--light-fg-ccb8ff:#29155b;
--light-fg-c8b5ff:#27155b;
--light-fg-d2cae8:#2e224e;
--light-fg-b8a5ea:#28155b;
--light-border-a399cc45:#7869b445;
--light-bg-191e34:#f5f6fa;
--light-bg-262b43:#f6f7fa;
--light-border-b4acd63b:#7769b53b;
--light-fg-efeaff:#26155b;
--light-fg-ddc6ff:#31155b;
--light-fg-e0d8f3:#2c1a56;
--light-fg-aaaac3:#3f3f5a;
--light-fg-c5c2df:#2a274a;
--light-fg-98dce7:#1d6f7c;
--light-fg-b9bad4:#3a3c5f;
--light-fg-e0d9ef:#30214f;
--light-fg-bcc5f6:#15205b;
--light-fg-aaa9c2:#413f5a;
--light-bg-382346:#f9f6fa;
--light-bg-1c2e3e:#f5f8fb;
--light-fg-ccb7ff:#2a155b;
}
